.App {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(34, 34, 34);
}

.Appbody {
  background: radial-gradient(#c7dfff, #4d86d1);
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3),
    inset 10px 10px 10px 0px rgba(255, 255, 255, 0.3);
}
